html {
  min-height: 100%;
  position: relative;

  background: linear-gradient(
    to bottom,
    #01758e 0%,
    #027f96 6%,
    #01829a 12%,
    #0188a0 19%,
    #0089a1 25%,
    #018aa4 30%,
    #058fa6 35%,
    #0693a7 42%,
    #0098a9 52%,
    #119cab 60%,
    #16a1ae 67%,
    #20abb2 75%,
    #26b1b4 82%,
    #2cb8b7 89%,
    #3bc6bd 100%
  );
  background-repeat: no-repeat;
}

body {
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
}

.title-center {
  /* margin-bottom: -40px; */
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 5px;
}
.submit-center {
  text-align: center;
  width: 100%;
  height: 50%;
  color: white;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 50px;
  /* margin-top:17%; */
}

.location-center {
  width: 100%;
}
label {
  display: inline flex;
}

.text-input-center {
  width: 30%;
  height: 30px;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 15px;
  border: 1px solid grey;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 35px;
  padding: 14px 0 5px 8px;
  letter-spacing: 1px;
}

button {
  width: 8%;
  height: 52px;
  margin-top: 2px;
  background: #2196f3;
  color: white;
  font-size: 19px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  vertical-align: middle;
}

button:hover {
  background: #0b7dda;
}

.error-message-center {
  width: 100%;
  font-size: 18px;
  margin-top: 10px;

  color: black;
  padding-bottom: 10px;
}

.metric-center {
  text-align: center;
  font-size: 30px;
}
.radio {
  vertical-align: middle;
  margin: 0 10px 0 10px;
  margin-bottom: 2px;
}

/* when header is at the top */

.submit-top {
  /* box-shadow:1px 6px 500px 20px #09697cc9;
  border-radius:5px;
  background-color:#07859e; */
  /* background-color: #528392; */
  box-shadow: 1px 100px 500px 20px #4a656a;
  border-radius: 6px;
  border-bottom: 2px solid #205666;
  /* background-color: #528392; */
  background-color: #3b8a9a;
  font-size: 60px;
  width: 100%;
  height: 100px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  flex-direction: row;
  justify-content: space-between;
  position: relative;
  padding-top: 30px;
}

.title-top {
  /* width: 25%;
  padding-left: 40px; */
  visibility: hidden;
  width:0px;
  margin:0;
  height:0px;
}
.location-top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 63%;
  font-size: 40px;
    margin-left: 5%;
  /* margin-left: 5%;
  margin-right: 8%; */
}

.text-input-top {
  margin-left: 15px;
  border-radius: 5px;
  width: 45%;
  height: 40px;
  border: 1px solid grey;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 45px;
  margin-top: -2px;
  padding: 14px 0px 9px 15px;
  letter-spacing: 1px;
}

.button-top {
  margin-top: 0px;
  border-radius: 7px;
  border-left: none;
  height: 65px;
  padding: 0px;
  vertical-align: middle;
  font-size: 20px;
  width: 10%;
}

.error-message-top {
  font-size: 25px;
  text-align: center;
  /* margin-left: 0%; */
  width: 65%;
  margin-top: 10px;
  /* height:40px; */
}
.metric-top {
  font-size: 35px;
  /* margin-left: -5%; */
  margin-right: 4%;
}

@media only screen and (max-width: 1191px) {
.metric-top{
  margin-left:-11%
}
}

@media only screen and (max-width: 990px) {
  .metric-top{
    margin-left:-15%
  }

  .location-top{
    margin-left:2%;
  }
  }


  @media only screen and (max-width: 860px) {
    .metric-top{
      margin-left:7%
    }
  
    .location-top{
      margin-left:8%;
    }
    }

    @media only screen and (max-width: 415px) {

      .submit-top{
       height: 40px;
      }
      .metric-top{
        margin-left:5%;
        font-size:15px
      }
    
      .location-top{
        margin-left:8%;
        font-size:20px;
        width:65%
      }
      .text-input-top {
            margin-left: 10px;
            width: 55%;
        height:5px;
        font-size:20px;
        padding-left:0px;
      }
      .button-top{
        height:30px;
        font-size: 10px;
      }
      .metric-top{
        margin-left:12%;
        margin-right:0%;
      }
      }
/* @media only screen and (max-width: 2358px) {
  .location-top {
    width: 35%;
    margin-right: 5%;
  }
  .metric-top {
    margin-left: -4%;
    font-size: 40px;
    margin-right: 5%;
  }
} */


/* @media only screen and (max-width: 1623px) {

  .submit-top{
    font-size:50px;
  }
  .location-top {
    width: 35%;
    margin-left:2%;
    margin-right: 5%;
    font-size:40px;
  }
  .text-input-top{
    font-size: 40px;
  }


  .metric-top {
    margin-left: -4%;
    font-size: 35px;
    margin-right: 5%;
  }

} */

/* @media only screen and (max-width: 1400px) {

 
  .submit-top {
  padding-top: 20px;  
  font-size: 45px; 
  }

  .metric-top {
    margin-right: 2%;
    font-size: 30px;
  }
}

 

@media only screen and (max-width: 875px)  {
  html {
    min-height: 115%;
  }
  .title-center {
    font-size: 0.9em;
    margin-top: 10px;
  }

  .label-center {
    font-size: 33px;
  }

  .text-input-center {
    height: 20px;
    font-size: 23px;
  }

  button {
    height: 42px;
    padding: 1px;
  }
  .metric-center {
    font-size: 23px;
  } */
  /* ---------submit bar is on top -------------- */

  /* .submit-top {
    height: 65px;
    font-size: 10px;
  }

  .title-top {
    font-size: 18px;
  }

  .location-top {
    margin-left: 0%;
  }
  .text-input-top {
    height: 4px;
    font-size: 18px;
  }

  .button-top {
    width: 17%;
    font-size: 14px;
    height: 30px;
    margin-top: -2px;
  }
  .label-top {
    font-size: 18px;
  }

  .error-message-top {
    font-size: 12px;
    margin-left: 5%;
  }

  .metric-top {
    font-size: 15px;
    margin-left: 10px;
  }
} */
