


html {
  min-height: 100%;
  position:relative ;
 
    background: linear-gradient(
    to bottom,
    #01758e 0%,
    #027f96 6%,
    #01829a 12%,
    #0188a0 19%,
    #0089a1 25%,
    #018aa4 30%,
    #058fa6 35%,
    #0693a7 42%,
    #0098a9 52%,
    #119cab 60%,
    #16a1ae 67%,
    #20abb2 75%,
    #26b1b4 82%,
    #2cb8b7 89%,
    #3bc6bd 100%
  );
  background-repeat: no-repeat;
}



body {
  font-family: "PT Sans Narrow", sans-serif;
  color: white;
}

.title-center {
  margin-bottom: -40px;
}
.submit-center {
  text-align: center;
  width: 100%;
  height: 50%;
  color: white;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 50px;
}

.location-center {
  width: 100%;
}
label{
  display:inline flex;
}

.text-input-center {
  width: 30%;
  height: 30px;
  vertical-align: middle;
  margin-top: 2px;
  margin-left: 15px;
  border: 1px solid grey;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 35px;
  padding: 14px 0 5px 8px;
  letter-spacing: 1px;
}

button {
  width: 8%;
  height: 52px;
  margin-top: 2px;
  background: #2196f3;
  color: white;
  font-size: 19px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  vertical-align: middle;
}

button:hover {
  background: #0b7dda;
}

.error-message-center{
  width: 100%;
  font-size: 18px;
 margin-top:10px;
  
  color: black;
  padding-bottom: 10px;
}

.metric-center {
  text-align: center;
  font-size: 30px;
}
.radio {
  vertical-align: middle;
  margin: 0 10px 0 10px;
  margin-bottom: 2px;
}

/* when header is at the top */

.submit-top {
    /* box-shadow:1px 6px 500px 20px #09697cc9;
  border-radius:5px;
  background-color:#07859e; */
    /* background-color: #528392; */
   box-shadow: 1px 100px 500px 20px #4a656a;
    border-radius: 6px;
    border-bottom: 2px solid #205666;
    /* background-color: #528392; */
    background-color: #3b8a9a;
  font-size: 25px;
  width: 99.2%;
  /* margin-top:5px; */
  display: inline-flex;
  padding-left: 15px;
  align-items: baseline;
  justify-content: space-between;
  
}

.title-top {
  width:15%;
  padding-left:15px
}
.location-top {
  width: 30%;
  font-size: 28px;
  margin-bottom:5px;
  margin-left: 5%;
}

.text-input-top {
  margin-left: 10px;
  border-radius: 5px;
  width: 60%;
  height: 10px;
  border: 1px solid grey;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 23px;
  margin-top: -2px;
  padding: 14px 0px 9px 8px;
  letter-spacing: 1px;
  display: inline-flex;
}

.button-top{
  margin-top: -7px;
  border-radius: 7px;
  border-left: none;
  height: 36px;
  padding: 0px;
  vertical-align: middle;
  font-size: 16px;
  width: 10%;
}

.error-message-top{
 font-size:15px;
 text-align: center;
 margin-left:-15%;
}
.metric-top {
  margin-right: 1.5%;
  font-size: 22px;
  margin-left: -1%;
}
@media only screen and (max-width: 800px) and (max-height:530px){
  
  html{
    min-height:  130%;
  }
  h2{
    font-size:1em;
    margin-top:-10px;
  }

 
  label{
    font-size:35px;
  }

  .text-input-center{
    height: 20px;
    font-size:23px;
  
  }

  button{
    height:42px
  }
.metric-center{
  font-size: 23px;
}
  
}