.weather-container {
  padding-top: 70px;
  padding-right: 2px;
  padding-bottom: 90px;
  margin-top: 0px;
  width: 99.8%;
  height: 85vh;
  background-image: url(https://images.pexels.com/photos/412462/pexels-photo-412462.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.current-weather {
  box-shadow: 1px 1px 30px 2px #3bc6bd;
  background: linear-gradient(
    135deg,
    #b7deed 0%,
    #3bc6bd 8%,
    #0199b7 37%,
    #018eaa 55%,
    #3bc6bd 92%,
    #b7deed 100%
  );
  /* box-shadow: 1px 1px 30px 2px #154e4a; 
    background: linear-gradient(135deg, #b7deed 0%,#3bc6bd 5%,#528392 35%,#528392 55%,#3bc6bd 92%,#b7deed 100%); */
  border-radius: 8px;
  padding: 10px;
  margin: 0 auto;
  width: 40%;
  height: 40%;
  position: relative;
  margin-top: 5%;
}

.top-line {
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  margin: 5px;
  margin-top: 5%;
}

.top-line-left {
  font-size: 70px;
  margin: 10px;
  margin-left: 4%;
  font-weight: bold;
  letter-spacing: 1px;
}

.top-line-right {
  font-size: 45px;
  margin: 18px;
  margin-right: 5%;
}
.fa-long-arrow-down,
.fa-long-arrow-up {
  padding-left: 13px;
}
.middle {
  width: 100%;
  display: inline-flex;
}
.middle-left {
  margin-top: -30px;
  margin-left: 6%;
  width: 33%;
}

.todays-day {
  font-size: 45px;
  letter-spacing: 0.2px;
}

.full-date {
  font-size: 33px;
  margin-bottom: 25px;
}

.weather-details {
  margin-top: -10px;
  margin-left: 2px;
  font-size: 30px;
  letter-spacing: 0.5px;
}

.middle-center {
  width: 33%;
  text-align: center;
  margin-top: -17px;
}

img {
  width: 52%;
  height: 78%;
}

.weather-description {
  font-size: 40px;
  margin-top: -5px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.middle-right {
  width: 33%;
  margin-top: 20px;
  text-align: right;
  font-size: 130px;
  font-weight: bolder;
  margin-right: 5%;
}

/* @media only screen and (max-width: 1439px) {
    
    .current-weather{
        width:50%;
    }
} */
@media only screen and (max-width: 1448px) {
  .current-weather {
    width: 60%;
    height: 65%;
  }
}

@media only screen and (max-width: 1150px) {
  .current-weather {
    width: 65%;
    height: 63%;
  }
}
@media only screen and (max-width: 1150px) and (max-height: 1366px) {
  .current-weather {
    width: 65%;
    height: 40%;
  }
}

@media only screen and (max-width: 900px) {
  .weather-container {
    height: 77vh;
  }
  .current-weather {
    height: 53%;
    /* width:65%; */
  }

  .top-line-left {
    font-size: 45px;
  }
  .top-line-right {
    font-size: 30px;
  }

  .todays-day {
    font-size: 28px;
  }
  .full-date {
    font-size: 18px;
  }
  .weather-details {
    font-size: 19px;
  }
  .weather-description {
    font-size: 25px;
  }
  .middle-right {
    font-size: 86px;
  }
  img {
    width: 50%;
    height: 72%;
  }
}

@media only screen and (max-width: 800px) {
  .current-weather {
    height: 50%;
  }
}

@media only screen and (max-width: 780px) and (max-height: 1024px) {
  .current-weather {
    height: 40%;
  }
}

@media only screen and (max-width: 770px) and (max-height: 700px) {
  .current-weather {
    height: 53%;
  }
}
@media only screen and (max-width: 700px) and (max-height: 1024px) {
  .current-weather {
    height: 42%;
  }
}

@media only screen and (max-height: 688px) and (max-width: 700px) {
  .current-weather {
    height: 50%;
  }
}

@media only screen and (max-height: 683px) and (max-width: 1150px) {
    .current-weather {
      width: 65%;
      height: 65%;
    }
  }
@media only screen and (max-width: 595px) {
  .current-weather {
    height: 38%;
    width: 70%;
  }

  .top-line-left {
    font-size: 38px;
  }
  .top-line-right {
    font-size: 25px;
    margin-right: 2%;
  }

  .todays-day {
    font-size: 23px;
  }
  .full-date {
    font-size: 14px;
  }
  .weather-details {
    font-size: 15px;
  }
  .weather-description {
    font-size: 20px;
  }
  .middle-right {
    font-size: 65px;
    margin-right: 2%;
  }
  img {
    width: 50%;
    height: 72%;
  }
}

@media only screen and (max-width: 470px) {
  .current-weather {
    height: 30%;
    width: 70%;
  }

  .top-line-left {
    font-size: 30px;
    margin-left: 0%;
  }
  .top-line-right {
    font-size: 20px;
    margin-right: 2%;
  }

  .todays-day {
    margin-left: -5%;
    font-size: 18px;
  }
  .full-date {
    margin-left: -5%;
    font-size: 14px;
  }
  .weather-details {
    margin-left: -5%;
    font-size: 14px;
    margin-top: -21px;
  }
  .weather-description {
    font-size: 18px;
    margin-left: 10%;
  }
  .middle-right {
    font-size: 52px;
    margin-right: 2%;
    margin-top: 0px;
  }
  img {
    margin-left: 5%;
    width: 65%;
    height: 70%;
  }
}

@media only screen and (max-width: 414px) {
  .current-weather {
    height: 37%;
    width: 70%;
  }
}

@media only screen and (max-width: 382px) {
  .current-weather {
    height: 33%;
    /* width:73%; */
  }
  .middle-left {
    width: 40%;
  }

  .weather-description {
    font-size: 17px;
    margin-top: -11px;
  }

  .middle-center {
    margin-top: -30px;
  }
  .middle-right {
    font-size: 48px;
    margin-top: -15px;
  }
  .weather-description {
    font-size: 13px;
    margin-left: 10%;
  }
}

@media only screen and (max-width: 360px) {
  .current-weather {
    height: 35%;
  }
}
@media only screen and (max-width: 330px) {
  .current-weather {
    height: 32%;
    width: 73%;
  }

  .top-line {
    margin-top: 2%;
    margin-bottom: -8px;
  }
  .top-line-left {
    font-size: 25px;
    margin-left: 0%;
  }
  .top-line-right {
    font-size: 16px;
    margin-right: 2%;
  }

  .todays-day {
    margin-left: -5%;
    font-size: 16px;
  }
  .full-date {
    margin-left: -5%;
    font-size: 13px;
  }
  .weather-details {
    margin-left: -5%;
    font-size: 12px;
    margin-top: -21px;
  }

  .middle-right {
    font-size: 45px;
    margin-right: 0%;
    margin-top: 0px;
  }

  .middle-left {
    width: 40%;
  }
  img {
    margin-left: 5%;
    width: 65%;
    height: 58%;
  }
}
/* @media only screen and (max-width: 382px)  {
    .weather-container{
        background-image:none;
    }

    .current-weather{
        height:50%;
        width:95%;
        box-shadow:none;
        margin-top:-10%;
    }

    .top-line{
        display: initial;
    }

    .top-line-right, .full-date, .date{
       visibility:hidden;
       width:0%;
       height:0%;
       margin:0px;
    }
    .top-line-left{
        width:100%;
        text-align: center;
        font-size:45px;

    }

    .middle{
        display: initial
    }

    .middle-left{
        margin:auto;
        width:100%
    }


    .todays-day{
        margin-left:0px;
    }
    .full-date{
        visibility: hidden;
    }

    .weather-details{
        margin-top:82px;
        text-align: right;
        font-size:20px;
    }

    .middle-center{
        width:60%;
        margin: auto;
        margin-top:-30%;
    }

    .middle-right{
        font-size:60px;

    }
    .current-weather-img{
        margin-left:0%;
        margin-top:-50%;
    }

    .weather-description{
        margin-top:-83%;
        margin-left:0%;
        width:100%;
        text-align:center;
        font-size:25px;
    }
} */
