.five-day-weather{
    box-shadow:1px 1px 30px 2px #3bc6bd;
    background:linear-gradient(135deg, #b7deed 0%,#3bc6bd 8%,#0199b7 37%,#018eaa 55%,#3bc6bd 92%,#b7deed 100%);
    border-radius: 8px; 
    padding:10px;
    margin:0 auto;
    margin-top:4%;
    width:40%;
    height:20%;
    display:flex;
    justify-content: space-around;
    padding-left: 17px;
}

.card{
    /* margin-top: 0px; */
    font-size: 30px;
    display: flex;
    flex-direction: column;
}
.day{
    margin-bottom: -20px;
    padding-left:2px;
}
.five-day-img-container{
    display:flex;
    width: 220%;
    height: 125px;
    margin-left:-22px;
    margin-bottom:-25px;
}
.five-day-img{
    width:100%;
}

.temp{
    width:10px;
    padding-left:5px;
}

/* 
@media only screen and (max-width: 1439px) {
    
    .five-day-weather{
        width:50%;
    }
} */

@media only screen and (max-width: 1448px) {
    
    .five-day-weather{
        width:60%;
    }
}

@media only screen and (max-width: 1150px) {
    
    .five-day-weather{
        width:65%;
    }
}

@media only screen and (max-width: 900px) and (max-height: 700px) {
    .five-day-weather{
        width:60%;
    }
    .card{
        font-size:22px;
    }
    .five-day-img {
        width: 70%;
        margin-left: 20%;
    }
}

/* @media only screen and (max-width: 800px)  {
    .five-day-weather{
        height:35%;
    }
} */

@media only screen and (max-width: 595px)  {
    .five-day-weather{
        width:70%;
    }
}

/* @media only screen and (max-width: 595px) and (max-height: 530px) {

    .card{
        font-size:20px;
    }
} */

@media only screen and (max-width: 595px)  {
    .five-day-weather{
        width:72%;
    }
}

@media only screen and (max-width: 330px)  {
    .five-day-weather{
        width:73%;
    }
}