.five-day-weather{
    box-shadow:1px 1px 1px 1px blue;
    border-radius: 8px; 
    padding:10px;
    margin:0 auto;
    margin-top:33px;
    width:65%;
    height:190px;
    display:flex;
}

.card{
    margin-top:-5px;
    margin-right:8.5%;
    margin-left: 6%;
    font-size: 26px;
}
.day{
    margin-bottom: -37px;
    padding-left:2px;
}
.five-day-img-container{
    display:flex;
    width: 220%;
    height: 125px;
    margin-left:-22px;
    margin-bottom:-37px;
}
.five-day-img{
    width:100%;
}

.temp{
    width:10px;
    padding-left:2px;
}